.header
{
color: #FFFFFF;
font-family: Broadway;
font-size: 50px;
}
.sub1
{
font-size: 40px;
font-family: Georgia;
width: 100%;
text-align: center; 
margin-top: 2cm;
color: #FFFFFF;
}

.sub
{
font-size: 25px;
font-family: Georgia;
width: 100%;
text-align: center; 
margin-top: 2cm;
color: #FFFFFF;
}

.txttop{

text-align: center;
font-family: Georgia;
margin-left: 1%;
margin-top: 0cm;
width: 325px;
height: 40px;
border: solid 4px #126aa1;
padding: 2px 20px 2px 20px;
border-radius: 8px;
font-size: 25px;
box-shadow: -50px -50px 0px 0px rgba(156, 156, 156, 0);
background-color: #FFFFFF;
outline: none;
color: #000000;
}
.txtbot{

text-align: center;
font-family: Georgia;
margin-left: 1%;
margin-top: 0cm;
width: 200px;
height: 40px;
border: solid 4px #126aa1;
padding: 2px;
border-radius: 8px;
font-size: 35px;
box-shadow: -50px -50px 0px 0px rgba(156, 156, 156, 0);
background-color: #FFFFFF;
outline: none;
color: #000000;
}
.button {
 -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #126aa1 6px;
  text-decoration: none;
  margin-left: 85%;
  margin-top: -1.2cm;
}

.button:hover {
  opacity: 0.8;
}
body{
background-color: #00008B;
}