.header
{
color: #FFFFFF;
font-family: Broadway;
font-size: 50px;
}
.right{
font-size: 250%;
argin-left: 80%;
margin-top: 3cm;
}
.dsc{
font-size: 50px;
font-family: Georgia;
margin-left: 33%;
margin-top: 4cm;
color: #FFFFFF;
}
.sub
{
font-size: 20px;
font-family: Georgia;
margin-left: 37.5%;
margin-top: -1cm;
color: #FFFFFF;
}
.txt{

text-align: center;
font-family: Georgia;
margin-left: 37%;
margin-top: 2cm;
width: 200px;
height: 40px;
border: solid 4px #126aa1;
padding: 2px;
border-radius: 8px;
font-size: 35px;
box-shadow: -50px -50px 0px 0px rgba(156, 156, 156, 0);
background-color: #FFFFFF;
outline: none;
color: #000000;
}


.button {
 -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #126aa1 6px;
  text-decoration: none;
  margin-left: 85%;
}

.button:hover {
  opacity: 0.8;
}
  
.button1 {
 -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 40px 10px 40px;
  border: solid #126aa1 6px;
  text-decoration: none;
  margin-left: 70%;
  text-align: center;
  margin-top: 5cm;
  
}

.button2 {
 -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 10px 10px 10px;
  border: solid #126aa1 6px;
  text-decoration: none;
  margin-left: 90%;
  text-align: center;
  margin-top: 5cm;
  
}


.menu{
margin-top: 2cm;
margin-left: 60%;
}

.button1:hover {
  opacity: 0.8;
}
a:link {
    text-align: center; 
    text-decoration: none;
}
a:visited {
    text-align: center;   
    text-decoration: none;
}
body{
background-color: #00008B;
}