.header
{
color: #FFFFFF;
font-family: Broadway;
font-size: 50px;
}
.dsc{
font-size: 50px;
font-family: Georgia;
margin-left: 33%;
margin-top: 4cm;
color: #FFFFFF;
}
.sub
{
font-size: 20px;
font-family: Georgia;
margin-left: 37.5%;
margin-top: -1cm;
color: #FFFFFF;
}
body{
background-color: #00008B;
}